<h2>Formacion</h2>

<div class="row">
    <div class="card w-25" >
        <img src="../../../assets/img/Profesional.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Profesional</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            
        </div>
    </div>

    <div class="card w-25">
        <img src="../../../assets/img/Bachillerato.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Bachillerato</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
    </div>

    <div class="card w-25">
        <img src="../../../assets/img/Primaria.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Primaria</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
    </div>
</div>