<h2>Experiencia</h2>

<div class="row">
    <div class="card w-50" >
        <img src="../../../assets/img/empresa1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Empresa 1</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
            
        </div>
    </div>

    <div class="card w-25">
        <img src="../../../assets/img/empresa2.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Empresa 2</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
    </div>

    <div class="card w-50">
        <img src="../../../assets/img/empresa3.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Empresa 3</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
    </div>
</div>
