<div class="container">
    <div class="card w-100">
        <div class="card-body">
            <h5 class="card-title">Formación profesional</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia voluptate ipsam iusto similique minus est fuga accusantium exercitationem fugit nostrum ipsa consequatur ipsum possimus quaerat in quibusdam dolore, adipisci quae.</p>
        </div>
    </div>
</div>

<div class="container">

    <div class="row">
        <div class="card w-50" >
            <img src="../../../assets/img/experiencia.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Experiencia</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a [routerLink]="['/experiencia']" class="btn btn-primary">Ver más...</a>
            </div>
        </div>

        <div class="card w-50">
            <img src="../../../assets/img/Formacion.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Formación</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a [routerLink]="['/formacion']" class="btn btn-primary">Ver más...</a>
            </div>
        </div>
    </div>
</div>

<app-contacto></app-contacto>